extends ./layouts/default

block title
    title KOA DOUBAN MOIVE

block content
    .container
        .row
            .col-md-8
                h1 Hi #{you}
                p This is a #{me}
            .col-md-4
                p 我爱中国
